{% extends "base.html" %}

{% block title %} 总体概览 {% endblock %}
{% block extendhead %}
    {% load render_table from django_tables2 %}
{% endblock %}

{% block content %}

	{% for jsfile_name in script_list %}
    <script src="{{host}}/{{jsfile_name}}.js"></script>
    {% endfor %}

    <div class="row">
            {{unitprice_line|safe}}
    </div>
    <div class="row">
            {{unitprice_byarea_line|safe}}
    </div>
    <div class="row">
            {{dealcnt_line|safe}}
    </div>
    <div class="row">
        {{dealcnt_byarea_line|safe}}
    </div>

    <div class="row">
        {{totalprice_line|safe}}
    </div>
    <div class="row">
            {{totalprice_byarea_line|safe}}
    </div>


{% endblock %}